* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent {
    display: flex;
    justify-content: space-between;
}

.head {
    color: #5a5959;
    background-color: #dfdcdc;
    padding-left: 10px;
    font-family: Roboto;
    font-size: 0.7rem;
}

.logo {
    width: 270px;
    border-right: 1px solid rgb(189, 187, 187);
    padding-right: 40px;
}

.items {
    font-family: Roboto;
    border-right: 1px solid rgb(189, 187, 187);
    padding: 20px;
    color: #343434;
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: 300;
    background-color: #fff;
}

.items:hover {
    background-color: yellow;
    cursor: pointer;
}

.menu {
    display: none;
}

.child-1 {
    display: flex;
}

.Search {
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid #acaaaa;
    height: 30px;
    width: 170px;
    font-size: 1rem;
    padding: 3px;
    margin-left: 10px;
}

 .search-2{
    width: 15px;
    height: 15px;
    margin-top: 30px;
    margin-left: -18px;
 }

.icon {
    margin: 7px 120px;
    color: #7e7c7c;
}

.button {
    display: block;
    height: 70px;
    padding: 0 10px;
    color: #fff;
    line-height: 75px;
    font-size: 1rem;
    background-color: #701e7d;
}

.text-yellow {
    color: #ffd900;
}

.text-yellow:hover {
    color: #7b47ac;
    cursor: pointer;
}

.button:hover {
    color: #7b47ac;
    cursor: pointer;
    background-color: #ffd900;
}

.head-2 {
    color: #71277a;
    background-color: #f5f3f3;
    font-family: Roboto;
    font-size: 0.8rem;
    text-align: center;
    word-spacing: 2px;
}

.height {
    height: 500px;
}

.parent-card{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.child-card-1 {
    margin-top: 50px;
}

.card-head {
    font-size: 1.2rem;
    margin: 20px;
    color: #85378f;
}

.card-para{
    font-size: 0.9rem;
    width: 230px;
    text-align: center;
}

.card-image{
    width: 250px;
    height: 200px;
    opacity: 0.86;
}

.card-image:hover{
    opacity: 100;
    cursor: pointer;
    transition: 1000ms;
    zoom: 1%;
}

/* @Font-Family started */

@font-face {
    font-family: Roboto;
    src: url(./assets/fonts/static/Roboto-Regular.ttf);
}

/* @Font-Family ended */


/* Media Query started */
@media (max-width:1024px) {

    .search {
        gap: 40px;
    }

    .logo {
        width: 200px;
    }

    .button {
        font-size: 0.8rem;
    }

    .search-2{
        margin-bottom: 30px;
    }

}

@media (max-width:768px) {

    .items {
        display: grid;
        width: 92px;
        line-height: 15px;
        font-size: 0.8rem;
    }

    .logo {
        width: 150px;
        border: none;
        line-height: 50px;
    }

    .search {
        display: none;
    }

    .head {
        display: none;
    }

    .border-none {
        border: none;
    }

    .button {
        height: 75px;
        padding: 0 25px;
        color: #fff;
        font-size: 14px;
        background-color: #701e7d;
        text-align: center;
    }

    .text-yellow {
        display: none;
    }

}

@media (max-width:640px) {

    body {
        width: 100%;
        height: 100%;
    }

    .items {
        display: none;
    }

    .head-2 {
        font-size: 1.2rem;
        width: 1190px;
    }

    .logo {
        width: 400px;
        margin: 30px;
        margin-left: 220px;
    }

    .button {
        display: none;
    }

    .menu {
        display: inline-block;
        font-size: 2.6rem;
        margin: 60px;
    }

    .search {
        display: block;
        border: none;
        color: grey;
        font-size: 2.6rem;
        margin-left: 100px;
    }

    .banner {
        width: 1000vw;
    }
}

/* Media Query ended */